{% extends 'index.html' %}
{% load static %}
{% block title %}Anti-Ragging Circular{% endblock title %}
{% block body %}
<div class=" antigaging container py-5 ">   
<div class="antiragging-header text-center pb-3">
<h2>Anti-Ragging Circular</h2>
<hr>
</div>

<div class="antiragging-body row py-4 ">
    <div class="antiragging-img col-4 float-start">
    <img class="img-fluid img-thumbnail" src="{% static 'images/ragging.jpeg' %}" alt="">
    </div>
    <div class="antiragging-content col-8 float-start">
    <p>
    Ragging is the term used for the so-called "initiation ritual" practiced in higher education institutions in South Asian countries, including India, Bangladesh and Sri Lanka. Ragging involves abuse, humiliation or harassment of new entrants or junior students by the senior students. It often takes a malignant form wherein the newcomers may be subjected to psychological or physical torture.
    In 2009 the University Grants Commission of India imposed regulations upon Indian universities to help curb ragging, and launched a toll-free 'anti-ragging helpline'.
    Ragging is a subset of bullying. Unlike various complex forms of bullying, ragging is easily recognisable.
    M.C.A | Department of Statistics, ensures a ragging free environmen
    </p>
    </div>
</div> 
<div class="mca-table text-center">
    <table>
        <caption>Anti-Ragging Cell</caption>       
        <tbody>
         <tr >
         <td>Dr M.P Trivedi</td>
         <td>933-431-8940</td>
         </tr>
         <tr>
         <td>Dr L.N Rai</td>
         <td>900-663-2911</td>
         </tr>
         <tr>
         <td>Dr Anil Kumar</td>
         <td>983-547-8855</td>
         </tr>
         <tr>
         <td>Dr P.C Vaishyakiyar</td>
         <td>943-162-4368</td>         
         </tr>
         <tr>
         <td>Dr S.A Ansari</td>
         <td>943-149-2825</td>
         </tr>
         <tr>
         <td>Dr P.C Chowdhury</td>
         <td>943-168-9138</td>
         </tr>
         <tr>
         <td>Dr S.M Hassan</td>
         <td>943-144-0274</td>
         </tr>
        <tr>
        <td>Dr K.P Paul</td>
        <td>943-142-1104</td>
        </tr> 
        <tr>
        <td>Dr Abhay Kumar</td>
        <td>943-029-6142</td>
        </tr>  
        <tr>
        <td>Dr Randhir Kumar</td>
        <td>947-123-1612</td>
        </tr>
        </tbody>
     </table>
    </div>  
</div>
{% endblock body %}