{% extends 'index.html' %}
{% load static %}
{% block title %}mca result{% endblock title %}
{% block body %}
<div class="mca-table table-responsive-xl table-responsive-sm ">      
    <table  >
        <caption>M.C.A Department Result</caption>
        <thead>
          <tr >
            <th class="py-1">S.No</th>
            <th class="py-1">Date of Upload</th>
            <th class="py-1">Title</th>
            <th class="py-1">Files</th>
          </tr>
        </thead>
        <tbody>
        {% if mca_result %}
        {% for mcaresult in mca_result %}     
        <tr>                    
          <td class="py-1">{{mcaresult.id}}</td>
          <td class="py-1">{{mcaresult.upload_date|date:"d-m-Y"}}</td>
          <td class="py-1">{{mcaresult.title}}</td>
          <td class="py-1"><a href="{{mcaresult.file.url}}">download</a></td>
        </tr>
        {% endfor %}
        {% endif %}
        </tbody>
      </table>
</div>
{% endblock body %}